body {
	margin:0;
	padding:0;
	font-family:Helvetica;
}

h1 {
	margin:0 auto;
	background-color:#1d7fd4;
	text-transform:uppercase;
	color:#FFF;
	font-weight:100;
	width:1020px;
	padding:15px;
}

header {
	margin:0 0 20px;
	padding:5px 0;
	background-color:#1d7fd4;
}

label {
	display:block;
	color:#696969;
	margin:10px 0 5px;
	font-size:14px;
}

#content {
	width:1020px;
	margin:0 auto;
	padding:15px;
}

form {
	overflow:hidden;
}

form a {
	padding:4px 0 3px;
	border:1px solid #1d7fd4;
	color:#1d7fd4;
	display:block;
	margin:31px 10px 0;
	text-align:center;
	cursor:pointer;
}

form a:hover {
	background-color:#1d7fd4;
	color:#FFF;
}

.row {
	overflow:hidden;
	border-bottom:1px solid #eee;
	padding:20px 0;
}

.form-element {
	width:175px;
	float:left;
}

.filter-block {
	clear:both;
	display:none;
}

#count {
	margin:0 0 15px;
}

.result {
	padding:10px 30px;
	border:1px solid #1d7fd4;
	/*background-color:#eeeeee;*/
	margin-bottom:5px;
}

.result-title {
	cursor:pointer;
}

.result-detail {
	display:none;
	margin:15px 0;
	padding:5px;
	width:100%;
	border-collapse:collapse;
}

thead {
	background-color:#1d7fd4;
	color:#FFF;
}

td {
	border:1px solid #1d7fd4;
	padding:5px;
}

#selected {

}

#directory {
	padding:3px 5px 4px;
	border:1px solid;
	width:150px;

}

#directory > .angle-down {
	float:right;
	transform:rotate(90deg);
}

#dir-list {
	padding:10px;
	border-bottom:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	overflow-y:scroll;
	max-height:150px;
	display:none;
	width:140px;
	position:absolute;
	background-color:#FFF;
}

#dir-list ul {
	list-style:none;
	padding-left:10px;
	margin:0;
}

#dir-list ul ul {
	display:none;
}

#dir-list li {
	cursor:pointer;
}

#dir-list li .name {
	width:100%;
	display:block;
}

#dir-list li .name:hover {
	background-color:#1d7fd4;
	color:#FFF;
}

.angle-down {
	float:left;
	margin-left:-15px;
	font-size:10px;
	line-height:18px;
}

input {
	height:27px;
	border:1px solid #000;
}
